/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* BASE
/*******************************************/
body {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  color: #DDD;
  background: #222831;
  text-transform:uppercase;
}
.hide {
  visibility: hidden;
}

#header {
  background:#222831;
  border-bottom: 3px solid #DDD;
}

#header ul {
  height: 4em;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  

}
#header ul li {
  flex-grow: 1;
  text-align: right;
  
}
#header ul li:hover {
  color:#F05454;
  cursor: pointer;
}
#header ul li:first-child {
  flex-grow: 4;
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
}

/******************************************
/* BANNER
/*******************************************/
#banner {
  background:url("../images/pexels-r-fera-432059.jpg");
  background-size:cover;
  background-position: 50%;
  height: 50em;
  background-repeat: no-repeat;
  width: 100%;
  
  

}
#banner h1 {
  position: relative;
  top: 25%;
  color:#F05454;
  font-size: 7.5em;
  font-family: "Orbitron";
  text-align: right;
  right: 5%;
  
}

/******************************************
/* MAIN
/*******************************************/
.main {
  border-top: 3px solid #DDD;
  padding-top: 5em;
}
.main h2 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 2em;
}
.products {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  
}
.products div {
  width: 400px;
  height: auto;
  position: relative;
}
img{
  object-fit:cover;
  height: 600px;
  width: 100%;

}
.description{
  position: absolute;
  width: 200px;
  height: 400px;
  top: 25%;
  margin: 0 auto;
  left: 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
